src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="main-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="main-config" api="main.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="main-main">
        <http:listener config-ref="main-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="main-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="main-console">
        <http:listener config-ref="main-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="main-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\clients:main-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  "fgdhjfvhgftedhbcfhdjn", 
  "fdghnkkkkkkkkkkkjnhb", 
  "dfvgbnrftgyhujkrfgthyjk"
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\orders:main-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    order_id: "AZEDFVBN?TYHJ?K.",
    client_id: "azsdcfvbedfgvb",
    articles: [
      {
        article_id: "edddddddddazerf",
        number: 3456
      }, 
      {
        article_id: "edddddddAZERhgfvcddazerf",
        number: 47689
      }
    ],
    alerts: [
      {
        type_alert: "NCID"
      }
    ],
    file_64: "JVBERi0xLjcKJeLjz9MKMSAwIG9iago8PC9TdWJ0eXBlL0Zvcm0vRmlsdGVyL0ZsYXRlRGVjb2RlL1R5cGUvWE9iamVjdC9NYXRyaXggWzEgMCAwIDEgMCAwXS9Gb3JtVHlwZSAxL1Jlc291cmNlczw8L1Byb2NTZXQgWy9QREYgL1RleHQgL0ltYWdlQiAvSW1hZ2VDIC9JbWFnZUldL0ZvbnQ8PC9IZWx2IDIgMCBSPj4+Pi9CQm94WzAgMCAyMjQuNzYgNDAuMzZdL0xlbmd0aCAxMjI+PnN0cmVhbQp4nB2NQQrCMBQFrzJLBUmTn5ikSysFNy4KHzxBLUortgvx+CbyFm8xMLMy0OiX7npmxZaJBJMiwRof2UZuvArpFPfHjqM3KeF85brQXMb5g2vRO9Y42+Z6OUugKnL0bBO703t7zEg8IFb8Xp/FNdFr6Q/0pf4DYb8fFQplbmRzdHJlYW0KZW5kb2JqCjMgM"
  }, 
  {
    order_id: "AZEDFVBNzzzzzzzzzzzzzzz?TYHJ?K.",
    client_id: "azseeeeeeeedcfvbedfgvb",
    articles: [
      {
        article_id: "edddddfrfrfrfrfddddazerf",
        number: 12
      }, 
      {
        article_id: "edddddddAZERhgfvcddazerf",
        number: 12
      }
    ],
    alerts: [
      {
        type_alert: "NCID"
      }
    ],
    file_64: "JVBERi0xLjcKJeLjz9MKMSAwIG9iago8PC9TdWJ0eXBlL0Zvcm0vRmlsdGVyL0ZsYXRlRGVjb2RlL1R5cGUvWE9iamVjdC9NYXRyaXggWzEgMCAwIDEgMCAwXS9Gb3JtVHlwZSAxL1Jlc291cmNlczw8L1Byb2NTZXQgWy9QREYgL1RleHQgL0ltYWdlQiAvSW1hZ2VDIC9JbWFnZUldL0ZvbnQ8PC9IZWx2IDIgMCBSPj4+Pi9CQm94WzAgMCAyMjQuNzYgNDAuMzZdL0xlbmd0aCAxMjI+PnN0cmVhbQp4nB2NQQrCMBQFrzJLBUmTn5ikSysFNy4KHzxBLUortgvx+CbyFm8xMLMy0OiX7npmxZaJBJMiwRof2UZuvArpFPfHjqM3KeF85brQXMb5g2vRO9Y42+Z6OUugKnL0bBO703t7zEg8IFb8Xp/FNdFr6Q/0pf4DYb8fFQplbmRzdHJlYW0KZW5kb2JqCjMgM"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\orders\(OID):main-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="OID">attributes.uriParams.'OID'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  commande_id: "AZEDFVBN?TYHJ?K.",
  client_id: "azsdcfvbedfgvb",
  articles: [
    {
      article_id: "edddddddddazerf",
      number: 3456
    }, 
    {
      article_id: "edddddddAZERhgfvcddazerf",
      number: 47689
    }
  ],
  alerts: [
    {
      type_alert: "NCID"
    }
  ],
  file_64: "JVBERi0xLjcKJeLjz9MKMSAwIG9iago8PC9TdWJ0eXBlL0Zvcm0vRmlsdGVyL0ZsYXRlRGVjb2RlL1R5cGUvWE9iamVjdC9NYXRyaXggWzEgMCAwIDEgMCAwXS9Gb3JtVHlwZSAxL1Jlc291cmNlczw8L1Byb2NTZXQgWy9QREYgL1RleHQgL0ltYWdlQiAvSW1hZ2VDIC9JbWFnZUldL0ZvbnQ8PC9IZWx2IDIgMCBSPj4+Pi9CQm94WzAgMCAyMjQuNzYgNDAuMzZdL0xlbmd0aCAxMjI+PnN0cmVhbQp4nB2NQQrCMBQFrzJLBUmTn5ikSysFNy4KHzxBLUortgvx+CbyFm8xMLMy0OiX7npmxZaJBJMiwRof2UZuvArpFPfHjqM3KeF85brQXMb5g2vRO9Y42+Z6OUugKnL0bBO703t7zEg8IFb8Xp/FNdFr6Q/0pf4DYb8fFQplbmRzdHJlYW0KZW5kb2JqCjMgM"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\orders\(OID):application\json:main-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="OID">attributes.uriParams.'OID'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="post:\orders\(OID):application\json:main-config" />
    </flow>
</mule>
